.container {
  padding: 50px 20px;
  background-color: #f5f5f5;
  color: #ffffff;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: black;
  transform: translateX(-50%);
}

.timelineItem {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
}

.timelineItem.left {
  justify-content: flex-end;
}

.timelineItem.right {
  justify-content: flex-start;
}

.timelineItem.left .content {
  margin-right: 0%;
}

.timelineItem.right .content {
  margin-left: 0%;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 44%;
  color: black;
  z-index: 2;
  position: relative;
  min-height: 100px;
}

.destinationName {
  font-size: 19px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.city {
  font-size: 15px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}

.city::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(216, 215, 215);
  border-radius: 50%;
  margin-right: 8px;
}

.description {
  font-size: 14px;
  margin: 10px 0 15px;
}

.detailsButton {
  background-color: black;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 13px;
}

.detailsButton:hover {
  background-color: #d4a700;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  color: #0d1b2a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
