:global(body)  {
  margin: 0;
  padding: 0;
  background: url('/recommendation.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 100%;
}

.container {
  padding: 60px 20px;
  color: #ffffff;
}


.title {
  text-align: center;
  margin-bottom: 6px;
  font-size: 2.5rem;
  color: rgb(255, 251, 251);
  font-weight: bold;
}

.subText {
  text-align: center;
  margin-bottom: 40px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
  line-height: 1.6;
  padding-left: 300px;
  padding-right: 300px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: rgb(226, 221, 221);
  transform: translateX(-50%);
}

.timelineItem {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
}

.timelineItem.left {
  justify-content: flex-end;
}

.timelineItem.right {
  justify-content: flex-start;
}

.timelineItem.left .content {
  margin-right: 0%;
}

.timelineItem.right .content {
  margin-left: 0%;
}

.circle {
  width: 13px;
  height: 13px;
  background-color: rgb(235, 217, 217);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
  width: 44%;
  color: black;
  z-index: 2;
  position: relative;
  min-height: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.destinationName {
  font-size: 19px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.city {
  font-size: 15px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}

.city::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(133, 130, 130);
  border-radius: 50%;
  margin-right: 8px;
}

.description {
  font-size: 14px;
  margin: 10px 0 15px;
}

.detailsButton {
  background-color: black;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 13px;
}

.detailsButton:hover {
  background-color: #d4a700;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  color: #0d1b2a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
