.hero {
    height: 100vh;
    background: url('/homepage.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.logout {
    position: fixed;
    top: 20px;
    right: 43px;
    z-index: 1000;
}

.logoutButton {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 9px 23px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.logoutButton:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.greeting {
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    z-index: 2;
}

.discover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.historyButton {
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 300px;
    font-weight: 500;
    margin-bottom: 5px;
    background: transparent;
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 30px;
}

.historyButton:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    flex: 1;
}

.searchContainer {
    width: 100%;
    background: rgba(185, 183, 183, 0.4);
    padding: 30px 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    backdrop-filter: blur(4px);
    z-index: 2;
    transition: transform 0.3s ease;
}

.searchContainer.error {
    animation: wiggle 0.3s ease;
}

@keyframes wiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.formInput {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
}

.inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    min-height: 80px;
}

.label {
    font-size: 0.9rem;
    color: white;
}

.input,
.select {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
}

.input.inputError,
.select.inputError {
    border-color: #f44336;
}

.errorMessage {
    color: #ff1100;
    font-size: 0.8rem;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    background: black;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 5px;
    align-self: flex-end;
}

.button:hover {
    background: #444;
}

input::placeholder {
    color: #a9a9a9;
}
  