.container {
  padding: 40px 60px 0px;
  color: #ffffff;
  background: url('/recommendation.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.backToHome {
  margin-left: 50px;
  font-size: 0.9rem;
  color: #555;
}

.backToHome a {
  text-decoration: none;
  color: #e4e5e7;
  transition: color 0.2s ease-in-out;
}

.backToHome a:hover {
  color: #f8f9fa;
}

.header {
  margin-bottom: 40px;
  margin-top: -10px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  width: 50%;
  margin-left: 50px;
}

.header h1 {
  margin-top: -10px;
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.header p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  width: 95%;
}

.imageContainer {
  margin-right: 50px;
  width: 30%;
}

.headerImage {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: -30px;
}

.recommendations {
  position: relative;
  padding: 0 81px;
  margin-top: 10px;
}

.card {
  flex: 0 0 auto;
  height: 274px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  min-width: 340px;
  max-width: max-content;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -4px;
}

.card p {
  font-size: 1rem;
  line-height: 2;
}

.city {
  margin-bottom: 8px;
}

.details p {
  text-align: left;
}

.viewDescriptionButton {
  padding: 5px 15px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.3s;
}

.viewDescriptionButton:hover {
  background-color: white;
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  max-height: 500px;
  overflow-y: auto;
  width: auto;
  max-width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modalTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 13px;
  text-align: center;
  border-bottom: 1px solid #a19c9c;
  padding-bottom: 10px;
}

.modalDescription {
  font-size: 0.9rem;
  text-align: justify;
  margin-top: 15px;
  line-height: 1.5;
}

.closeButton {
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 0.9rem;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.closeButton:hover {
  background-color: #000;
  color: #fff;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevButton:hover, .nextButton:hover {
  background-color: rgba(189, 184, 184, 0.8);
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 20px;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  overflow-x: scroll;
  gap: 1rem;
}

.arrowImage {
  width: 24px;
  height: 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  font-size: 1rem;
  text-align: center;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  color: #333;
}

.popupContent h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.popupContent p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.popupButtons {
  display: flex;
  justify-content: space-around;
}

.popupButtons button {
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popupButtons button:first-child {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.popupButtons button:first-child:hover {
  background-color: black;
  color: white;
}

.popupButtons button:last-child {
  background-color: black;
  color: white;
}

.popupButtons button:last-child:hover {
  background-color: #a3a2a2;
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.loadingGif {
  width: 300px;
  height: auto;
}  